<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création de Matière</title>
</head>
<body>
    <h1>Création d'une nouvelle matière</h1>
    <form action="/create-subject" method="POST">
        <label for="nomMatiere">Nom de la Matière:</label>
        <input type="text" id="nomMatiere" name="nomMatiere" required><br><br>

        <label for="coefficient">Coefficient:</label>
        <input type="number" id="coefficient" name="coefficient" min="0" required><br><br>

        <label for="intervenantAssocié">Intervenant associé:</label>

        <select id="intervenantAssocié" name="intervenantAssocié">
            <option value="intervenantAssocié1">ssd</option>
        </select>

        <div class="center-button">
        <input type="submit" value="Ajouter" >
        </div>

    </form>
</body>
</html>