/* Ajoutez ces styles à votre fichier CSS */

/* Style général pour le formulaire */
form {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style pour les labels */
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  /* Style pour les champs de saisie */
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  /* Style pour le bouton */
  button[type="button"] {
    background-color: #14B8A6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  
  button[type="button"]:hover {
    background-color: #0056b3;
  }
  